<aside class="col-3 ps-0 pe-2">
  <div class="mb-2">
    <div class="d-flex justify-content-evenly">
      <% if (!currentUser) { %>
      <a href="/users/login" class="">
        <button class="btn btn-success">로그인</button>
      </a>
      <a href="/users/register" class="">
        <button class="btn btn-primary">회원가입</button>
      </a>
      <% } %> <% if (currentUser) { %>
      <form action="/users/logout" method="GET">
        <button class="btn btn-warning">로그아웃</button>
      </form>
      <% } %> <% if (currentUser && currentUser.username ===
      'anythingthannothing') { %>
      <a href="/posts/new" class="">
        <button class="btn btn-primary">글쓰기</button>
      </a>
      <% } %>
    </div>
  </div>
  <div class="border mb-3 px-0 github">
    <img
      src="https://ghchart.rshah.org/0F5BFF/anythingthannothing"
      alt="anythingthannothing's Github chart"
      class="px-0"
      id="githubStreak"
    />
  </div>
  <div class="container-fluid border mb-3">LeetCode streak</div>
  <div>
    <ul>
      <% for (let sub of subcategories) { %>
      <li><%= sub.name %></li>
      <% } %>
    </ul>
  </div>
</aside>
