<aside class="col-3 ps-0 pe-2">
  <div class="mb-2">
    <div class="d-flex justify-content-evenly">
      <% if (!user_id) { %>
      <a href="/users/login" class="">
        <button class="btn btn-success">로그인</button>
      </a>
      <a href="/users/register" class="">
        <button class="btn btn-primary">회원가입</button>
      </a>
      <% } %> <% if (user_id) { %>
      <form action="/users/logout" method="POST">
        <button class="btn btn-warning">로그아웃</button>
      </form>
      <% } %>
      <a href="/posts/new" class="">
        <button class="btn btn-primary">글쓰기</button>
      </a>
    </div>
  </div>
  <div class="border mb-3 px-0 github">
    <img
      src="https://ghchart.rshah.org/0F5BFF/anythingthannothing"
      alt="anythingthannothing's Github chart"
      class="px-0"
      id="githubStreak"
    />
  </div>
  <div class="container-fluid border mb-3">LeetCode streak</div>
  <div>
    <ul>
      <li>
        CS
        <ul>
          <li>네트워크</li>
          <li>운영체제</li>
        </ul>
      </li>
      <li>
        알고리즘 & 자료구조
        <ul>
          <li>문제해결패턴</li>
          <li>LeetCode</li>
          <li>프로그래머스</li>
          <li>도서</li>
        </ul>
      </li>
      <li>
        웹 프로그래밍
        <ul>
          <li>NodeJS</li>
        </ul>
      </li>
      <li>
        DevOps
        <ul>
          <li>Git & Github</li>
          <li>DB</li>
          <li>AWS</li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
