<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
    <title>kku.log</title>
  </head>

  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <div class="container">
      <div class="row">
        <main class="col-8 offset-2 p-3"><%- body %></main>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
