body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 18px;
}

body a {
  text-decoration: none;
  color: #212529;
}

#mainNavbar .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
}

#mainNavbar .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.6);
}

#mainNavbar li a {
  font-size: 1.2rem;
  padding-bottom: 0;
}

#mainNavbar li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.github {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

#githubStreak {
  height: 120px;
}

footer svg {
  width: 1.8rem;
}

aside {
  border-right: 1.5px rgba(0, 0, 0, 0.15) solid;
}

aside svg {
  width: 1.6rem;
}

.card {
  max-height: 150px;
}

#thumbnail img {
  max-height: 100%;
}

main img {
  max-width: 80% !important;
}

.card-title {
  font-size: 1.6rem;
}

.card-text {
  font-size: 1rem;
}
