extends layouts/layout
block content
    div.row.pt-5
        div(role="alert").alert.alert-danger.col-8.offset-2
            h4.alert-heading.text-center #{message}
            p
            hr
            p.mb-0
