#postContainer a {
  color: #0c63e4;
}

#postContainer a:hover {
  text-decoration: underline 1px #0c63e4;
}

#postContainer p {
  font-size: 1.2rem;
}

#postContainer li {
  margin: 6px 0;
}

#postContainer h3 {
  font-size: 1.75rem;
  padding: 15px 0;
}

#postContainer h2 {
  font-size: 2rem;
  padding: 18px 0;
}

#postContainer code {
  font-size: 1rem;
}
