meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='preconnect' href="https://fonts.googleapis.com")
link(rel='preconnect' href="https://fonts.gstatic.com" crossorigin)
link(
    rel='stylesheet'
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap"
)
link(rel='stylesheet' href='/css/bootstrap.css')
link(rel='stylesheet' href='/css/index.css')
link(rel='stylesheet' href='/css/show-post.css')
link(rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css")
link(rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css")
script(src='/js/bootstrap.js')
script(src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js")
