<header class="container-fluid sticky-top px-0 py-2 mb-1 bg-white">
  <nav
    class="container navbar navbar-expand-lg py-0 border-bottom pb-2"
    id="mainNavbar"
  >
    <a href="/" class="navbar-brand py-0"> kkuLog </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/" aria-current="page">Dev.log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/blogs" aria-current="page">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active disabled" href="#" aria-current="page"
            >About</a
          >
        </li>

        <% if (currentUser && currentUser.email ===
        'anythingthannothing@gmail.com') { %>
        <li class="nav-item">
          <a href="/posts/new" class="nav-link active">글쓰기</a>
        </li>
        <li class="nav-item">
          <a href="/admin" class="nav-link active">관리자</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
