<% layout('layouts/boilerplate') -%>
<div class="d-flex">
  <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
    <button type="submit" class="btn btn-warning me-3">삭제하기</button>
  </form>
  <a href="/posts/<%= post._id %>/edit">
    <button type="button" class="btn btn-success me-3">수정하기</button>
  </a>
  <a href="/"><button type="button" class="btn btn-primary">홈으로</button></a>
</div>
<h1><%= post.title %></h1>
<article>
  <p><%= post.content %></p>
</article>
