doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../partials/head
        title kkulog
    body.d-flex.flex-column.vh-100
        include ../partials/navbar
        div.container 
            div.row
                include ../partials/flash
            div.row 
                include ../partials/aside
                main.col-9.p-3
                    block content 
        include ../partials/footer
