<% layout('layouts/boilerplate') -%>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card shadow w-50">
    <div class="card-body">
      <h5 class="card-title">로그인</h5>
      <form
        action="/users/login"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="username" class="form-label">ID: </label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="ID를 입력하세요!"
            class="form-control needs-validation"
            required
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">비밀번호: </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="비밀번호를 입력하세요!"
            class="form-control needs-validation"
            required
          />
        </div>
        <button class="btn btn-success">로그인</button>
      </form>
    </div>
  </div>
</div>

<script>
  (() => {
    "use strict";

    const forms = document.querySelectorAll(".needs-validation");

    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
